<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WidgetLauncher"
        android:usesCleartextTraffic="true">

        <!-- Main Activity (acts as launcher) -->
        <activity
            android:name=".ui.home.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Uncomment below to use as default home launcher -->
                <!-- <category android:name="android.intent.category.HOME" /> -->
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            </intent-filter>
        </activity>

        <!-- Editor Activity -->
        <activity
            android:name=".ui.editor.EditorActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.WidgetLauncher" />

        <!-- Templates Activity -->
        <activity
            android:name=".ui.templates.TemplatesActivity"
            android:exported="false"
            android:theme="@style/Theme.WidgetLauncher" />

        <!-- Local HTTP Server Service -->
        <service
            android:name=".service.LocalHttpServerService"
            android:exported="false" />

    </application>

</manifest>
